<div id="wrapper">
  <app-nav></app-nav>
  <div id="page-wrapper" class="gray-bg">
      <app-menu></app-menu>
      <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Multiple Axes Line Chart Example </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                  <canvas id="histogram" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
